body {
  background-color: #eee;
  display: flex;
  font-family: 'Muli', sans-serif;
}

.contract, .existing-contracts {
  margin: 10px;
  display: inline-flex;
  flex-direction: column;
  width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
}

.heading {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
}

.button {
  background-color: #FFBF00;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.existing-contracts ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contracts ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contracts ul > li > div {
  margin: 0 5px;
}

.existing-contracts ul > li > :first-child {
  font-weight: bold;
}

.existing-contracts .complete {
  color: #5aa75a;
  text-align: center;
}

.img {
  width: 118px;
  height: 118px;
  align-self: flex-start;
  margin-left: 20px;
}

.myfont {
  margin-top: 29px;
}


